* {
    font-family: "Nunito", sans-serif;
}

.product {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    background-color: #fff;
    margin-bottom: 1rem;
    min-height: 80px;
    padding: 0.5rem;
    position: relative;
    width: 100%;
}

.product-title {
    line-height: 16px;
}

.product-image {
    width: 80px;
}

.img-fluid {
    max-height: 80px;
}

.product-description {
    line-height: 16px;
    font-size: 0.8rem;
}

.table td,
.table th {
    vertical-align: middle !important;
}

/* Chrome, Safari, Edge, Opera */
input.noarrows::-webkit-outer-spin-button,
input.noarrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input.noarrows[type="number"] {
    -moz-appearance: textfield;
}

.toast {
    opacity: 1 !important;
}

.cursor-pointer{
    cursor: pointer;
}

.filepond--credits{
    display: none;
}

.spinner{
    position:fixed;
    z-index:99;/* make higher than whatever is on the page */
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    background: rgba(255, 255, 255, 0) url("/img/loader.gif") center no-repeat;
    width: 200px;
    height:200px;
}